<footer>
    <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: hsla(0, 13%, 10%, 0);">
          &copy; 2022 Copyright neosoft employee:
          <a class="text-dark" href="#">NeoSOFT Technologies</a>
        </div>
        <!-- Copyright -->
      </footer>
</footer>