<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Home Page</title>
</head>

<body>
    <%- include('./partials/header.ejs'); %>
        <!--  -->
        <form action="add_pro" method="post">
            <!-- <form action="add_pro" method="postaction="/uploadfile?_csrf={{csrf}}"
                " enctype="multipart/form-data"> -->
            <section class="vh-100 bg-image container"
                style="background-image: url('https://mdbcdn.b-cdn.net/img/new/fluid/nature/012.webp');">
                <div class="mask d-flex align-items-center h-100 gradient-custom-3 ">
                    <div class="container h-100 ">
                        <div class="row d-flex justify-content-center align-items-center h-100 ">
                            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                                <div class="card" style="border-radius: 15px; background-color:grey;">
                                    <div class="card-body p-5">
                                        <h2 class="text-uppercase text-center mb-2">Add Product</h2>

                                        <!-- <form> -->

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form3Example1cg">Product Name</label>
                                            <input type="text" name="name" class="form-control form-control-lg" placeholder="Enter product name" />
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form3Example3cg">Price</label>
                                            <input type="number" name="price" class="form-control form-control-lg" placeholder="Enter product Price" />
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form3Example4cdg">Description</label>
                                            <input type="text" name="description"
                                                class="form-control form-control-lg" placeholder="Enter product Description"/>
                                        </div>

                                        <!-- <div class="form-outline mb-4">
                                                            <input type="file" name="img"
                                                                class="form-control form-control-lg" />
                                                            <label class="form-label"
                                                                for="form3Example4cg">Image</label>
                                                        </div> -->

                                        <div class="d-flex justify-content-center">
                                            <button type="submit"
                                                class="btn btn-outline-success btn-block btn-lg gradient-custom-4 text-body">ADD</button>
                                        </div>

                                        <!-- </form>rs -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>

        <%- include('./partials/footer.ejs'); %>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
</body>

</html>